<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Calculo de Juros e multa</title>

</head>
<body>
    <main>
        <h1>Cálculo de Juros e Multa</h1>
        <form>
            <div class="formulario">
                <label for="boleto"><strong>Boleto</strong></label>
                <input type="number" id="boleto" placeholder="Valor do Boleto">
            </div>
        
            <div class="forms" id="data">
                <label for="start"><strong>Data do<br> vencimento</strong></label>
                <br>
                <input type="date" id="start">
            </div>
            <div class="forms" id="data">
                <label for="end"><strong>Data prevista<br> de vencimento</strong></label>
                <br>
                <input type="date" id="end">
            </div>
        
            <script src="/js/calculo.js"></script>
        </form>
        
        <button onclick="calculoJuros(), calculoMulta(), total(), novoCalculo()">clique</button>
        
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Valor do Juros</th>
                        <th>Valor da Multa</th>
                        <th>Total</th>
                        <th>Excluir</th>
                    </tr>
                </thead>

                <tbody id="resultado"></tbody>
            </table>
        </div>

        <button id="btnLimpar" style="display: none;" onclick="exclusaoTotal()">Limpar tudo</button>
        
        <small>O cálculo é feito com juros de 1% ao mês e multa de no máximo 10%</small>

        <footer>Calculadora de Juros e Multa &copy; 2024</footer>
    </main>

</body>
</html>